@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');


/*CONTENIDO BARRA NAVEGACION*/
/* --- ESTILOS GENERALES --- */
.fondoBarraNavegacion {
    background-color: black;
    padding: 10px 20px;
}

.logo {
    width: 70px;
    height: 70px;
}

.nav-link {
    font-size: 1.2rem;
    color: white !important;
    margin: 0 15px;
}

.nav-link:hover {
    color: #f8d210 !important;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    min-width: 150px;
}


/* 
--- RESPONSIVE DESIGN ---

@media screen and (max-width: 1653px) {
    .navOpciones {
        gap: 10rem; Reduce el espacio entre los botones
        margin-left: 42rem;

    }

    .logo {
        width: 70px;
        height: 70px;
    }

    h2 {
        font-size: 1rem;
    }
    
    .botonIcono{
	    transform: translate(1529px, -106px);
	    border-radius: 12rem;
	    width: 4rem;
	    height: 4rem;
	    
	}
}


@media screen and (max-width: 1272px) {
    .navOpciones {
        gap: 10rem; Reduce el espacio entre los botones
        margin-left: 32rem;

    }

    .logo {
        width: 70px;
        height: 70px;
    }

    h2 {
        font-size: 1rem;
    }
    
    .botonIcono{
	    transform: translate(1149px, -106px);
	    border-radius: 12rem;
	    width: 4rem;
	    height: 4rem;
	    
	}
}

TABLETS Y PANTALLAS MEDIANAS (menos de 1024px)
@media screen and (max-width: 1021px) {
    .navOpciones {
        gap: 5rem; Reduce el espacio entre los botones
        margin-left: 32rem;

    }

    .logo {
        width: 70px;
        height: 70px;
    }

    h2 {
        font-size: 1rem;
    }

	.botonIcono{
	    transform: translate(931px, -106px);
	    border-radius: 12rem;
	    width: 4rem;
	    height: 4rem;
	    
	}
}
 */
 
/*DISPOSITIVOS MÃ“VILES (menos de 768px)*/
@media screen and (max-width: 768px) {
    mat-toolbar {
        flex-direction: row;
        height: auto;
        padding: 1rem;
    }

    .logo {
        width: 60px;
        height: 60px;
        margin-top: 6px;
    }

    .iconoHamburguesa{
        display: block;
    }

/*MENÃš HAMBURGUESA*/
    .menuHamburguesa {
        display: block;
        font-size: 2rem;
        color: white;
        background: none;
        border: none;
        cursor: pointer;
        margin-left: 1rem;
    }



    /*Ocultar el menÃº de navegaciÃ³n por defecto*/
    .navOpciones {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 5rem;
        left: 0;
        width: 100%;
        background-color: black;
        padding: 1rem;
        z-index: 100;
        margin-left: auto;
    }

    /*Mostrar el menÃº cuando se active*/
    .navOpciones.mostrar {
        display: flex;
    }

    .navOpciones button {
        width: 100%;
        text-align: left;
        padding: 0.5rem 1rem;
    }

    .iconoUsuario {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

/*PANTALLAS MUY PEQUEÃ‘AS (menos de 480px)*/
@media screen and (max-width: 480px) {
    .logo {
        width: 50px;
        height: 50px;
    }

    .imagenLogin {
        width: 2.5rem;
        height: 2.5rem;
    }
    
   
}



/* CONTENIDO LANDING PAGE*/
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url("../images/fondoPantalla.jpg");
    background-size: cover;
    background-position: center;
  }

.contenido {
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    height: 100vh; /* Ocupa toda la pantalla */
    text-align: center;
}

.flechas-cotenedor {
    display: flex;
    justify-content: space-between; /* Distribuye las flechas */
    width: 100%; /* Ajusta el ancho segÃºn necesites */
    max-width: 89rem; /* Evita que las flechas se separen demasiado */
    margin-top: 2rem;
}

.icoPricipal{
    width: 22rem;
}

.titulo{
	color: white;
    font-size: 4rem;
    width: 63rem;
}

#flecha1, #flecha2 {
    width: 11rem;
    transform: rotate(360deg);
    height: 10rem;
}

h2 {
    font-family: 'Roboto Slab', cursive;
    color: white;
    
  }
  
  
 /* REGISTRO */
 
 #contenedorRegistro{
 	
	display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh;   /*Ocupa toda la altura de la pantalla*/;

 }
 
 #formularioUsuario{
    display: flex;
    flex-direction: column; /* Organiza los campos en columna */
    gap: 16px; /* Espacio entre los elementos */
    width: 100%;
    max-width: 400px; /* Define un ancho máximo */
    padding: 32px;
    background-image: url("../images/madera.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 8px; /* Bordes redondeados */
 }
 
 #boton{
 	width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #FFCC00;
    color: black;
    font-weight: bold;
    border: black;
 }
 
#tituloRegistro{
    text-align: center;
    color: #fff;
}

#campos{
	color: #fff;
}

.form-control, .form-select {
	background-color: #F5DEB3 !important;
}
 
  #snackbar {
            visibility: hidden;
            min-width: 250px;
            margin-left: -125px;
            background-color: #333;
            color: #fff;
            text-align: center;
            border-radius: 5px;
            padding: 16px;
            position: fixed;
            left: 50%;
            bottom: 30px;
            z-index: 1;
            font-size: 17px;
            opacity: 0;
            transition: opacity 0.5s, bottom 0.5s ease-in-out;            
        }

        #snackbar.show {
            visibility: visible;
            opacity: 1;
            bottom: 50px;
        }
        
        
 /* // LOGIN  //*/
        

/* Contenedor para centrar el formulario en la pantalla */
.contenedor-formulario {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
}

/* Estilos para el formulario */
#formularioLogin {
    display: flex;
    flex-direction: column; /* Organiza los campos en columna */
    gap: 16px; /* Espacio entre los elementos */
    width: 100%;
    max-width: 400px; /* Define un ancho máximo */
    padding: 32px;
    background-image: url("../images/madera.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 8px; /* Bordes redondeados */
}


/* Estilo del botón */
#botonLogin {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color:"#FFCC00";
}


#tituloLogin, #tituloModalEditar{
    text-align: center;
    color: #fff;
}


 /* // LISTA USUARIOS  //*/

table{
	border-color: black;
}

td{
	background-color:  #F5DEB3!important;
}

th{
    background-image: url("../images/madera.jpg");
    color: white !important;
    
}

#contenedorTabla{
	margin-top: 12rem !important;
    margin-bottom: 19rem !important;
}

#formEditar {
    background-color: #b7c871  !important;
}

.contenedorFormularioEditar{
    background-image: url("../images/madera.jpg");
}

#botonAccionesEditar {
    padding: 10px;
    font-size: 16px;
    background-color: #FFCC00;
    color: black;
    font-weight: bold;
 }
 
#botonAcciones{
    padding: 12px;
    font-size: 7px;
    background-color: #FFCC00;
    color: black;
    font-weight: bold;
    margin-left: 1rem;
 }


