<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<form th:action="@{/forgot-password}" method="post">
  		<h2>¿Olvidaste tu contraseña?</h2>
  		<div class="mb-3">
    		<input type="email" name="email" placeholder="tu@correo.com" required class="form-control"/>
  		</div>
  		<button type="submit" class="btn btn-primary">Enviar instrucciones</button>
	</form>
	
	<!-- Mensajes de éxito o error -->
	<div th:if="${successMessage}" th:text="${successMessage}" style="color: green;"></div>
	<div th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;"></div>
		

</body>
</html>