<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/estilos.css}">
<link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css}" rel="stylesheet">
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js}"></script>
</head>
<body>

<!-- ///////////////////////////////////
            BARRA NAVEGACION                  
   //////////////////////////////////// -->
<div class="container-fluid fondoBarraNavegacion">
  <div class="row align-items-center w-100">
    <!-- Logo -->
    <div class="col-auto">
      <a class="btn-icon" th:href="@{/}">
        <img class="logo" th:src="@{/images/logo.png}" alt="Logo">
      </a>
    </div>

    <div class="col">
      <nav class="navbar navbar-expand-md p-0">

        <button
          class="navbar-toggler botonHamburguesa mx-auto"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navCollapse"
          aria-controls="navCollapse"
          aria-expanded="false"
          aria-label="Mostrar/Ocultar menú">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Elementos que se colapsan -->
        <div class="collapse navbar-collapse justify-content-center" id="navCollapse">
          <ul class="navbar-nav">
            <li class="nav-item px-2">
              <h2><a class="nav-link text-white" th:href="@{/catalogo/manga}">MANGA</a></h2>	
            </li>
            <li class="nav-item px-2">
              <h2><a class="nav-link text-white" th:href="@{/catalogo/poster}">POSTER</a></h2> 
            </li>
            <li class="nav-item px-2">
              <h2><a class="nav-link text-white" th:href="@{/catalogo/figura}">FIGURA</a></h2>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <!-- Icono de usuario (activador del menú) -->
    <div class="col-auto ms-auto">
      <div class="dropdown">
        <!-- Para local -->
        <img
          th:if="${perfilActivo == 'local'}"
          class="rounded-circle dropdown-toggle-img"
          sec:authorize="isAuthenticated()"
          th:src="@{http://localhost:9511/usuario/foto/{id}(id=${usuario.id})}"
          alt="Usuario"
          width="40" height="40"
          data-bs-toggle="dropdown"
          aria-expanded="false" />

        <!-- Para producción -->
        <img
          th:if="${perfilActivo != 'local'}"
          class="rounded-circle dropdown-toggle-img"
          sec:authorize="isAuthenticated()"
          th:src="@{https://msm-sevilla.es/usuario/foto/{id}(id=${usuario.id})}"
          alt="Usuario"
          width="40" height="40"
          data-bs-toggle="dropdown"
          aria-expanded="false" />

        <!-- Imagen por defecto para usuarios no autenticados -->
        <img
          class="rounded-circle dropdown-toggle-img"
          sec:authorize="isAnonymous()"
          th:src="@{/images/iconoUsuario.png}"
          alt="Usuario"
          width="40" height="40"
          data-bs-toggle="dropdown"
          aria-expanded="false">

        <!-- Menú desplegable -->
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
          <li th:if="${auth != null and auth.admin}">
            <a class="dropdown-item" th:href="@{/admin}">Lista de Usuarios</a>
          </li>
          <li><a class="dropdown-item" th:href="@{/registro}">Registro</a></li>
          <li><a class="dropdown-item" th:href="@{/login}">Login</a></li>
          <li sec:authorize="hasRole('ADMIN')">
            <a class="dropdown-item" th:href="@{/admin/obtenerUsuario}">Admin</a>
          </li>
          <li sec:authorize="hasRole('ADMIN')">
            <a class="dropdown-item" th:href="@{/admin/obtenerArticulos}">Articulos</a>
          </li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item text-danger" th:href="@{/logout}">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

	
	<!--/////////////////////////////////
                 CONTENIDO                
    //////////////////////////////////// -->
    <div class="contenedorMensajeError1">
	    
	    <div id="contenedorMensajeError2">
	    	<h2 id="mensajeError">Se ha realizado la compra satisfactoriamente</h2>	
	    	<a class="btn-icon" th:href="@{/}"> 
				<h4 id="mensajeError">Volver a la pagina principal</h4>
			</a>   
	    </div>
    
    </div>
</body>
</html>